@import "tailwindcss";

@theme {
  --font-orbitron: var(--font-orbitron);
  --font-inter: var(--font-inter);
}

.bg-gradient-image {
    @apply bg-cover bg-center;
    background-image: linear-gradient(45deg, rgb(0, 0, 0, 0.9), rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.9)), url('/bg_one.png');
}